/**
 * Copyright 2016 by Avid Technology, Inc.
 */

$theme-prefix: trello-plugin;
@import '../../node_modules/platform-ui-theme/themes/mcux';
@import 'temporary';

/* Palette */
$trello-plugin-light-light-grey: #f8f9f9;
$trello-plugin-light-grey: #f4f4f4;
$trello-plugin-middle-grey: #e2e4e6;
$trello-plugin-middle-middle-grey: #d8d6d6;
$trello-plugin-dark-grey: #999999;
$trello-plugin-dark-dark-grey: #4d4d4d;

/* Color Usage */
$trello-plugin-any-item-border: $trello-plugin-dark-grey;
$trello-plugin-hover-box-shadow: $trello-plugin-light-grey;
$trello-plugin-container-color: $trello-plugin-dark-dark-grey;
$trello-plugin-board-list-item-background: $trello-plugin-middle-grey;
$trello-plugin-list-item-background: $trello-plugin-middle-grey;
$trello-plugin-card-item-background: $trello-plugin-light-light-grey;
$trello-plugin-card-item-color: $trello-plugin-dark-dark-grey;
$trello-plugin-card-item-background-hover: $trello-plugin-middle-middle-grey;

.trello-plugin-button {
  margin: 5px;
}

.trello-plugin-hidden {
  display: none;
}

.trello-plugin-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5px;
  color: $trello-plugin-container-color;
  font-size: 14px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  overflow-y: auto;
}

.trello-plugin-toolbar {
  flex: initial;
  padding-bottom: 2px;
}

.trello-plugin-page {
  display: flex;
  flex: 1 1 auto;
}

.trello-plugin-board {
  position: relative;
  white-space: nowrap;
}

.trello-plugin-board-abs {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  padding-bottom: 10px;
}

.trello-plugin-any-item {
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  border-bottom: 1px solid $trello-plugin-any-item-border;
}

/* Board View */
.trello-plugin-board-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  line-height: 18px;
  margin-bottom: 16px;
}

.trello-plugin-board-list-item {
  @extend .trello-plugin-any-item;
  background-color: $trello-plugin-board-list-item-background;
  font-weight: bold;
  cursor: pointer;
  width: 24%;
  line-height: 18px;
  box-sizing: border-box;
  position: relative;
  text-align: left;
  height: 96px;
  margin: 8px 8px 8px 6px;
  min-width: 270px;
}

/* List View */
.trello-plugin-list-title {
  margin: 5px;
  font-weight: bold;
  text-align: left;
  flex: 0 0 auto;
  display: block;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.trello-plugin-list-wrapper {
  height: 100%;
  flex: 1;
  display: inline-block;
  vertical-align: top;
  margin: 0 8px 0 1px;
  box-sizing: border-box;
  width: 270px;
  white-space: nowrap;
}

.trello-plugin-list-item {
  @extend .trello-plugin-any-item;
  max-height: 100%;
  background-color: $trello-plugin-list-item-background;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  white-space: normal;
}

.trello-plugin-card-list {
  flex: 1 1 auto;
  overflow-x: hidden;
  min-height: 0;
  margin: 0 4px;
}

.trello-plugin-card-item {
  @extend .trello-plugin-any-item;
  padding: 6px 8px 4px;
  background-color: $trello-plugin-card-item-background;
  color: $trello-plugin-card-item-color;
  cursor: pointer;
  margin-bottom: 6px;
  max-width: 270px;
  min-height: 20px;
  position: relative;

  &:hover {
    background-color: $trello-plugin-middle-middle-grey;
  }
}

.trello-plugin-card-item-text {
  margin: 0 0 4px;
  display: block;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.trello-plugin-list-add-card {
  height: 20px;
  flex: 0 0 auto;
  display: block;
  padding: 8px 10px;
  position: relative;
  white-space: normal;
  cursor: pointer;
}

/* Card View */

.trello-plugin-text-label {
  margin: 5px;
  margin-left: 6px;
}

.trello-plugin-text-label-bold {
  @extend .trello-plugin-text-label;
  color: black;
  font-weight: bold;
}

.trello-plugin-zero-items {
  @extend .trello-plugin-text-label;
  font-style: italic;
}

.trello-plugin-textarea {
  margin: 5px;
  width: 260px;
  height: 140px;
}

.trello-plugin-scroll-bar::-webkit-scrollbar-track {
  background: $trello-plugin-middle-grey;
  border: 0;
}

.trello-plugin-scroll-bar::-webkit-scrollbar {
  background: $trello-plugin-middle-grey;
  border: 0;
}

.trello-plugin-attachments-count {
  font-size: 12px;
  color: $trello-plugin-dark-grey;
}

.trello-plugin-card-view-attachments-item {
  margin: 5px;
}

.trello-plugin-card-view-attachments-item a{
  color: black;
}

.trello-plugin-attachments-link:active {
  color: #E8B119;
}
