/**
 * Copyright 2016 by Avid Technology, Inc.
 */

.trello-plugin {
  overflow-y: hidden;
  button:not(.x-btn-text) {
    line-height: 18px;

    &:hover {
      box-shadow: inset 0 0 1px #f4f4f4 !important; // the color is $trello-plugin-hover-box-shadow
    }
  }
}
